@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #312E81;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

p {
    padding-bottom: 0.5rem;
}

hr{
    margin-top:2rem;
    margin-bottom:2rem;
    background-color: var(--off-white);
    max-width: 300px;
    height: 1px;
    border: none;
}

/** container **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 650px;
    margin: auto;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.6rem 0.3rem;
    margin:0rem 0.1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/**lists**/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.1rem;
}

/**navigation**/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.navigation .nav-brand {
    font-weight:500;
    font-size: 1.1rem;
}

.navigation .link {
    color: white;
}


.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

/**header**/

.hero {
    padding: 2rem;
    padding-top: 3rem;
}

.hero .hero-img {
    width: 320px;
    max-width: 90%;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray)
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/**sections**/

.section{
    padding: 2rem;
}
.section h1 {
    text-align: center;
    
}

.ow{
    background-color: var(--off-white);
}

/**footer**/

.footer{
    position: relative;
    background-color: var(--primary-color);
    padding-inline-start:0px;
    padding: 1.5rem 0.1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}